{{#partial "content"}}

    <p>{{hikes.hikeName}}</p>
    <p>{{hikes.hikeLocation}}</p>
    <p>{{hikes.hikeNotes}}</p>
    <p>{{hikes.hikeRating}}</p>

    <p><a href="/hikes/{{hikes.id}}/update"><br>Edit Hike details</a></p>

{{/partial}}

{{> layout.hbs}}