{{#partial "content"}}
    {{#if newLocation}}
        <p>Location</p>
        <ul>
            <li>Distance:<br> {{newLocation.locationDistance}}</li><br><br>
            <li>Difficulty:<br> {{newLocation.locationDifficulty}}</li><br><br>
            <li>City:<br> {{newLocation.locationCity}}</li><br><br>
            <li>State:<br> {{newLocation.locationState}}</li><br><br>
            <li>Country:<br> {{newLocation.locationCountry}}</li><br><br>
        </ul>
        <a href="/"><button type="button" class="btn btn-default">Back to Main Page</button></a>
    {{else}}
        <p>No locations</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}